@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@400;500;600&family=Unbounded:wght@400;600;700&display=swap');

$noir: #1e1e2f;
$rouge: #c0392b;
$or: #f1c40f;
$gris: #ecf0f1;


$font-important: 'Unbounded', sans-serif;
$font-body: 'Spectral', serif;