@use "./sass/utils/_reset";
@use "./sass/utils/_variables" as *;
@use "./sass/utils/_mixins";



.card {
  background-color: $noir;
  border-radius: 8px;
  padding: 20px;
  color: $gris;
  border: 2px solid $or;
  box-shadow: 0 4px 12px $or;

}
